<h4>Inquiries</h4>
{{#if message}}
<h4>
    {{message}}
</h4>
{{/if}} {{#if contacts}}

<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Wedding Date</th>
            <th>Replied</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each contacts}}
        <tr>
            <td>
                <a href="/contacts/{{id}}">{{name}}</a>
            </td>
            <td>
                {{!-- {{formatDate date 'MM/DD/YYYY'}} --}} {{ date }}
            </td>
            <td>
                {{#if replied}}
                <span class="dash-status">
                    <i class="fa fa-check-square fa-2x"></i>
                </span>
                {{else}}
                <span class="dash-status">
                    <form action="/contacts/{{id}}?_method=PUT" method="post" class="col s12">
                        <input type="hidden" name="_method" value="PUT">                                                
                        <button style="border: none;background: none;" type="submit"><i class="fa fa-square fa-2x"></i></button>                                                
                    </form>
                </span>
                {{/if}}
            </td>
            <td>
                <a href="/contacts/{{id}}" class="btn green">
                    <i class="fa fa-user"></i> View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{else}}
<p>You have not received any inquires.</p>
{{/if}}