<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

        <h4 class="text-center">contact us</h4>
        <form action="https://radiant-brushlands-47971.herokuapp.com/contact" name="contact" onsubmit="return validateContactForm()"
            method="post">
            <div class="form-group">
                <label for="name">Your name:</label>
                <input class="form-control" type="text" name="name" required>
            </div>
            <div class="form-group">
                <label for="fiance">Your fiance's name:</label>
                <input class="form-control" type="text" name="fiance" required>
            </div>
            <div class="form-group">
                <label for="email">Your Email:</label>
                <input class="form-control" type="text" name="email" required>
            </div>
            <div class="form-group">
                <label for="date">Wedding Date:</label>
                <input class="form-control" type="text" class="datepicker" name="date" required>
            </div>
            <div class="form-group">
                <label for="location">Wedding Venue:</label>
                <select name="location" class="form-control" id="location" onchange="selectedVenue()" required>
                    <option value="">-- Select --</option>
                    <option value="booked">I have one booked!</option>
                    <option value="not_yet">I have a few in mind but nothing booked yet!</option>
                    <option value="no_idea">Just beginning my search</option>
                </select>
            </div>
            <div class="form-group hidden" id="venue">
                <label for="venue">Venue Name:</label>
                <input class="form-control" type="text" name="venue">
            </div>
            <div class="form-group">
                <label for="quality">How important is video quality to you?:</label>
                <select name="quality" class="form-control" required>
                    <option value="">-- Select --</option>
                    <option value="mild">I'm mostly interested in a ceremony video!</option>
                    <option value="medium">I like nice things.</option>
                    <option value="hot">My reception will be off the hook!</option>
                </select>
            </div>
            <div class="form-group">
                <label for="planner">Wedding Planner/Coordinator:</label>
                <input class="form-control" type="text" name="planner" required>
            </div>
            <div class="form-group">
                <label for="budget">Where did you hear about us?</label>
                <select name="source" class="form-control" id="relationship" onchange="selectedReferral()">
                    <option value="">-- Select --</option>
                    <option value="knot">The Knot</option>
                    <option value="wedding_wire">Wedding Wire</option>
                    <option value="google">Google Search</option>
                    <option value="instagram">Instagram</option>
                    <option value="facebook">Facebook</option>
                    <option value="friend">A friend</option>
                    <option value="vendor">Vendor recommendation</option>
                </select>
            </div>
            <div class="form-group hidden" id="referral">
                <label for="referral">Referral Name:</label>
                <input class="form-control" type="text" name="referral">
            </div>
            <div class="form-group">
                <label for="budget">Wedding Video Budget</label>
                <select class="form-control" name="budget">
                    <option value="2000-3000">2000-3000</option>
                    <option value="3000-4000">3000-4000</option>
                    <option value="4000-5000">4000-5000</option>
                    <option value="5000-6000">5000-6000+</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tell us anything about your wedding that you think would help us or that you’d really like us to know!
                </label>
                <textarea class="form-control" name="details"></textarea>
            </div>
            <input class="btn btn-primary form-control" type="submit" value="submit" class="btn">
        </form>
    </div>
    <script>
        function selectedReferral() {
            var referral = document.getElementById('relationship').value;
            var element = document.getElementById('referral');
            if (referral === 'vendor' || referral === 'friend') {
                element.classList.remove('hidden');
            } else {
                !Array.prototype.slice.call(element.classList).indexOf('hidden') || element.classList.add('hidden');
            }
        }
        function selectedVenue() {
            var status = document.getElementById('location').value;
            var element = document.getElementById('venue');
            if (status === 'booked') {
                element.classList.remove('hidden');
            } else {
                !Array.prototype.slice.call(element.classList).indexOf('hidden') || element.classList.add('hidden');
            }
        }
        function validateContactForm() {
            var fields = Array.prototype.slice.call(document.forms['contact']);
            var valid = true;
            for (var field in fields) {
                if (field.value == '') {
                    alert('Whoops, you missed a field!');
                    valid = false;
                    break;
                }
            }
            return valid;
        }
    </script>