<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Morgan Scott Films</title>
    <style>
        /* -------------------------------------
        INLINED WITH htmlemail.io/inline
    ------------------------------------- */

        /* -------------------------------------
        RESPONSIVE AND MOBILE FRIENDLY STYLES
    ------------------------------------- */

        @media only screen and (max-width: 620px) {
            table[class=body] h1 {
                font-size: 28px !important;
                margin-bottom: 10px !important;
            }
            table[class=body] p,
            table[class=body] ul,
            table[class=body] ol,
            table[class=body] td,
            table[class=body] span,
            table[class=body] a {
                font-size: 16px !important;
            }
            table[class=body] .wrapper,
            table[class=body] .article {
                padding: 10px !important;
            }
            table[class=body] .content {
                padding: 0 !important;
            }
            table[class=body] .container {
                padding: 0 !important;
                width: 100% !important;
            }
            table[class=body] .main {
                border-left-width: 0 !important;
                border-radius: 0 !important;
                border-right-width: 0 !important;
            }
            table[class=body] .btn table {
                width: 100% !important;
            }
            table[class=body] .btn a {
                width: 100% !important;
            }
            table[class=body] .img-responsive {
                height: auto !important;
                max-width: 100% !important;
                width: auto !important;
            }
        }

        /* -------------------------------------
        PRESERVE THESE STYLES IN THE HEAD
    ------------------------------------- */

        @media all {
            .ExternalClass {
                width: 100%;
            }
            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }
            .apple-link a {
                color: inherit !important;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important;
            }
            .btn-primary table td:hover {
                background-color: #34495e !important;
            }
            .btn-primary a:hover {
                background-color: #34495e !important;
                border-color: #34495e !important;
            }
        }
    </style>
</head>

<body class="" style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;">
        <tr>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
            <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 1040px; padding: 10px; width: 1040px;">
                <div class="content" style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 1040px; padding: 10px;">

                    <!-- START CENTERED WHITE CONTAINER -->
                    {{!--
                    <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">This is preheader text. Some clients will show this text as a preview.</span> --}}
                    <table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;">

                        <!-- START MAIN CONTENT AREA -->
                        <tr>
                            <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                                    <tr>
                                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
                                            {{{body}}}
                                            <div>
                                                <div dir="ltr">
                                                    <div style="font-size:12.8px">
                                                        <font face="garamond, serif" size="4">
                                                            <b>Elijah Nacita</b>
                                                        </font>
                                                    </div>
                                                    <div style="font-size:12.8px">
                                                        <font face="garamond, serif" size="4">
                                                            <i>Owner</i>
                                                        </font>
                                                    </div>
                                                    <div>
                                                        <a href="http://www.morganscottfilms.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.morganscottfilms.com/&amp;source=gmail&amp;ust=1530622684995000&amp;usg=AFQjCNHP3RjYt2Z3wZnoBQ52jDDM56QOBg">
                                                            <img src="https://ci6.googleusercontent.com/proxy/jTcjFSWkkDVptPR2N-lS1OrkAHYV43nZFdAQwqiv_43gtOaL48S19WAUK5TqlGDUnCgpUQt0oQ7KLruDJr3aW6wyA6kyfl12bGlg2rRq8TRafs1-nXPSDsJZImBhlsAJKyXxy6Cchel9gsmtPuMAGLPbmtC7DbeXo0ePYyB-BmhOKqHFEMe_Bi2XyAvbDUgGYX8szbqnC_SsOYc=s0-d-e1-ft#https://docs.google.com/uc?export=download&amp;id=0B-Ft-dIU2LE_Ukpsa1hoZGhoV0k&amp;revid=0B-Ft-dIU2LE_RUtDektTeVhnb2JWWmNibTFxNy9WbGNzMHdrPQ"
                                                                width="92" height="96" class="CToWUd">
                                                        </a>
                                                    </div>
                                                    <div style="font-size:12.8px">
                                                        <font face="garamond, serif">
                                                            <a href="http://www.morganscottfilms.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.morganscottfilms.com/&amp;source=gmail&amp;ust=1530057229704000&amp;usg=AFQjCNGs_X03qRkewlLvZ9k58m7al18ggg">www.morganscottfilms.com</a>
                                                        </font>
                                                    </div>
                                                    <div style="font-size:12.8px">
                                                        <font face="garamond, serif">email |&nbsp;
                                                            <a href="mailto:nfo@morganscottfilms.com" target="_blank">info@morganscottfilms.com</a>
                                                        </font>
                                                    </div>
                                                    <div style="font-size:12.8px">
                                                        <font face="garamond, serif">phone | 661.578.0784&nbsp;</font>
                                                    </div>
                                                </div>
                                            </div>
                                            <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;">
                                                                            {{!-- CONTENT --}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- END MAIN CONTENT AREA -->
                    </table>

                    <!-- START FOOTER -->
                    <div class="footer" style="clear: both; Margin-top: 10px; text-align: center; width: 100%;">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                            {{!-- <tr>
                                <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                                    <span class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">123 London way, Wake Forest, NC 27587</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="content-block powered-by" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                                    Powered by
                                    <a href="http://www.opendoortrips.com" style="color: #999999; font-size: 12px; text-align: center; text-decoration: none;">OpenDoorTrips</a>.
                                </td>
                            </tr> --}}
                        </table>
                    </div>
                    <!-- END FOOTER -->

                    <!-- END CENTERED WHITE CONTAINER -->
                </div>
            </td>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
        </tr>
    </table>
</body>

</html>