<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="fa fa-plus"></i>
    </a>
    <ul>
        {{#if user.isAdmin}}
        <li>
            <a class="btn-floating red">
                <i class="fa fa-user"></i>
            </a>
        </li>
        {{/if}}
        <li>
            <a href="/templates/add" class="btn-floating green">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
        <li>
            <a href="/contacts/add" class="btn-floating yellow darken-1">
                <i class="fa fa-address-book"></i>
            </a>
        </li>
        {{!-- <li>
            <a class="btn-floating green">
                <i class="material-icons"></i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue">
                <i class="material-icons"></i>
            </a>
        </li> --}}
    </ul>
</div>