<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #26a69a;
        width: 120px;
        height: 120px;
        margin:auto;
        margin-top:50%;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .squash {
        height: 10px;
    }
</style>
<div class="row">
    <div class="col s12">
        <div>
            <div id="spinner" class="loader hidden"></div>
        </div>
        {{!-- <div style="width:300px;margin:auto;">
            <img src="https://i1.wp.com/morganscottfilms.com/wp-content/uploads/2018/01/website-logo-over-video.png?fit=300%2C300&ssl=1" alt="">
        </div>        
        <h4 class="center-align">Wedding Film Contact Form</h4> --}}
        <form id="contact-form" action="/contacts/add" name="contact" onsubmit="return submitForm()" method="post">
            <input type="text" class="hidden" name="form" value="Contact Form" />
            <div class="row">
                <div class="input-field">
                    <input type="text" name="name" required>
                    <label for="name">Your name:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="text" name="fiance" required>
                    <label for="fiance">Your fiance's name:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="text" name="email" required>
                    <label for="email">Your Email:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="text" class="datepicker" name="date" required>
                    <label for="date">Wedding Date:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select required id="location" name="location" onchange="selectedVenue()">
                        <option value="">-- Select --</option>
                        <option value="booked">I have one booked!</option>
                        <option value="not_yet">I have a few in mind but nothing booked yet!</option>
                        <option value="no_idea">Just beginning my search</option>
                    </select>
                    <label for="location">Wedding Venue:</label>
                </div>
            </div>
            <div class="row hidden" id="venue">
                <div class="input-field">
                    <input type="text" name="venue" id="venue-input">
                    <label for="venue">Venue Name:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select required name="quality">
                        <option value="">-- Select --</option>
                        <option value="Very Important">Very Important: I want a film that takes time and skill to complete.</option>
                        <option value="Somewhat Important">Somewhat Important: I want something to remember but quality isn't important.</option>
                        <option value="Unimportant">Unimportant: I don't care as long as I'm in it!</option>
                    </select>
                    <label for="quality">How important is video quality to you?:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="coordinator">Wedding Planner/Coordinator:</label>
                    <input type="text" name="coordinator" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select required name="source" id="relationship" onchange="selectedReferral()">
                        <option value="">-- Select --</option>
                        <option value="knot">The Knot</option>
                        <option value="wedding_wire">Wedding Wire</option>
                        <option value="google">Google Search</option>
                        <option value="instagram">Instagram</option>
                        <option value="facebook">Facebook</option>
                        <option value="friend">A friend</option>
                        <option value="vendor">Vendor recommendation</option>
                    </select>
                    <label for="budget">Where did you hear about us?</label>
                </div>
            </div>
            <div class="row hidden" id="referral">
                <div class="input-field">
                    <label for="referral">Referral Name:</label>
                    <input type="text" name="referral" id="referral-input">
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select name="budget" required>
                        <option value="2000-3000">2000-3000</option>
                        <option value="3000-4000">3000-4000</option>
                        <option value="4000-5000">4000-5000</option>
                        <option value="5000-6000">5000-6000+</option>
                    </select>
                    <label for="budget">Wedding Video Budget</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label>Tell us anything details that you’d really like us to know!
                    </label>
                    <textarea id="add-text" name="details" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <input class="btn btn-primary input-field" type="submit" value="submit" class="btn" id="submit-button">
                </div>
            </div>
        </form>
    </div>
    <script>
        function submitForm() {
            var element = document.getElementById('submit-button');
            element.setAttribute('disabled', '');
            document.getElementById('spinner').classList.remove('hidden');
            document.getElementById('contact-form').classList.add('squash');            
            document.getElementById('contact-form').classList.add('hidden');            
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            window.dispatchEvent(new Event('resize'));
            return true;
        }

        function selectedReferral() {
            var referral = document.getElementById('relationship').value;
            var element = document.getElementById('referral');
            var referralInput = document.getElementById('referral-input');
            if (referral === 'vendor' || referral === 'friend') {
                element.classList.remove('hidden');
                referralInput.setAttribute("required", "");
            } else {
                !Array.prototype.slice.call(element.classList).indexOf('hidden') || element.classList.add('hidden');
                referralInput.removeAttribute("required");
            }
        }
        function selectedVenue() {
            var status = document.getElementById('location').value;
            var element = document.getElementById('venue');
            var venueInput = document.getElementById('venue-input');
            if (status === 'booked') {
                element.classList.remove('hidden');
                venueInput.setAttribute("required", "");
            } else {
                !Array.prototype.slice.call(element.classList).indexOf('hidden') || element.classList.add('hidden');
                venueInput.removeAttribute("required");
            }
        }        
    </script>