<div class="row">
    <div class="col s12 m8">
        <div class="card story">
            <div class="card-content">
                <h4>
                    {{contact.name}} {{#if contact.fiance}} + {{contact.fiance}} {{/if}}
                </h4>
                {{!--
                <span class="card-title">{{formatDate contact.date 'MMM Do YYYY'}}</span> --}} {{!--
                <span class="card-title">{{formatDate contact.date 'MM/DD/YYYY'}}</span> --}}
                <span class="card-title">Wedding Date: {{contact.date}}</span>
                {{contact.details}}
            </div>
        </div>
        <div class="card story">
            <div class="card-content">
                <form action="/contacts/reply/{{contact.id}}" method="post">
                    <h5>Response:</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="subject" value="{{template.subject}}" required>
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="body" required>
                                {{{template.body}}}
                            </textarea>
                        </div>
                    </div>
                    <input type="submit" value="Reply" class="btn">
                </form>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{contact.name}} + {{contact.fiance}}</span>
                <p>{{contact.budget}}</p>
                <p>{{contact.location}}</p>
            </div>
            <div class="card-action">
                <a href="/templates/choose/{{contact.id}}">Choose a different Template</a>
            </div>
        </div>
    </div>
</div>