<div class="row">
    <div class="col s12 m8">
        <div class="card story">
            <div class="card-content">
                <h4>
                    {{contact.name}} {{#if contact.fiance}} + {{contact.fiance}} {{/if}}
                </h4>                
                <span class="card-title">Wedding Date: {{contact.date}}</span>
                {{contact.details}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content" style="text-align:left;">
                <span class="card-title">{{contact.name}} + {{contact.fiance}}</span>
                <p>Budget: {{contact.budget}}</p>
                {{#if contact.venue}}
                <p>Venue: {{contact.venue}}</p>
                {{/if}}
                <p>Email: {{contact.email}}</p>
                <hr>
                <p>Coordinator: {{contact.coordinator}}</p>
                <p>Referral: {{contact.referral}}</p>
                <p>Quality: {{contact.quality}}</p>
            </div>
            <div class="card-action">
                <a href="/templates/choose/{{contact.id}}">Reply to {{contact.name}}</a>
            </div>
        </div>
    </div>
</div>
{{#if reply}}
<div class="row">
    <div class="col s12 m8">
        <div class="card story">
            <div class="card-content">
                <h4>
                    Replied on:
                    <span class="card-title">{{formatDate reply.date 'MM/DD/YYYY'}}</span>
                </h4>
                {{{reply.body}}}
            </div>
        </div>
    </div>
</div>
{{/if}}