<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        .hidden {
            display: none;
        }

        .nav-wrapper .fa-bars {
            font-size: 25px;
        }

        footer {
            margin-top: 20px;
        }

        .post-text {
            height: 120px;
        }

        .dash-status {
            text-transform: capitalize;
        }

        #delete-form {
            display: inline;
        }
    </style>
    {{!--
    <link rel="stylesheet" href="public/styles.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <title>Contact</title>
</head>

<body>
    {{> _header}} {{#if user}} {{> _add-btn}} {{/if}}
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    {{> _footer}}
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {{!-- <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script> --}}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $('.button-collapse').sideNav();
            $('select').material_select();
            $('.modal').modal();
            $('.datepicker').pickadate();
            $('.fixed-action-btn').floatingActionButton();
        });
        /**
        * @license Copyright (c) 2003-2018, CKSource - Frederico Knabben. All rights reserved.
        * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
        */

        /**
         * @fileOverview The "divarea" plugin. It registers the "wysiwyg" editing
         *		mode using a DIV element.
         */

        CKEDITOR.plugins.add('divarea', {
            afterInit: function (editor) {
                // Add the "wysiwyg" mode.
                // Do that in the afterInit function, so it'll eventually overwrite
                // the mode defined by the wysiwygarea plugin.
                editor.addMode('wysiwyg', function (callback) {
                    var editingBlock = CKEDITOR.dom.element.createFromHtml(
                        '<div class="cke_wysiwyg_div cke_reset cke_enable_context_menu" hidefocus="true"></div>'
                    );

                    var contentSpace = editor.ui.space('contents');
                    contentSpace.append(editingBlock);

                    editingBlock = editor.editable(editingBlock);

                    editingBlock.detach = CKEDITOR.tools.override(editingBlock.detach,
                        function (org) {
                            return function () {
                                org.apply(this, arguments);
                                this.remove();
                            };
                        });

                    editor.setData(editor.getData(1), callback);
                    editor.fire('contentDom');
                });
            }
        });
        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea,toolbar,basicstyles,link,maximize',
            extraplugins: 'divarea'
        });
    </script>
</body>

</html>