<h1>Add Template</h1>
<div class="row">
    <form action="/templates" method="post">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="subject" required>
                <label for="subject">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Template:</h5>
                <textarea name="body" required></textarea>
            </div>
        </div>
        <input type="submit" value="save" class="btn">
    </form>
</div>