<h1>Edit</h1>
<div class="row">
    <form action="/templates/{{template.id}}?_method=PUT" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">        
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" value="{{template.title}}" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="subject" value="{{template.subject}}" required>
                <label for="subject">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Email Template:</h5>
                <textarea required name="body">{{template.body}}</textarea>
            </div>
        </div>
        <input type="submit" value="Save" class="btn">
        <a href="/templates" class="btn red">Cancel</a>
    </form>
</div>