<div class="row">
    <div class="col s12 m8">
        <h3>{{template.title}} {{!--
            <small>{{{editIcon post.user.id user.id post.id false}}}</small> --}}
        </h3>
        <div class="card story">
            {{!--
            <div class="card-image">
                <img src="{{post.image}}" alt="">
            </div> --}}            
            <div class="card-content">
                <span class="card-title">{{formatDate template.created_date 'MMM Do YYYY'}}</span>
                <span>Subject: {{template.subject}}</span>
                {{{template.body}}}
            </div>
            <div class="card-content">
                <a href="/templates/edit/{{template.id}}" class="btn green">
                    <i class="fa fa-pencil"></i> Edit
                </a>
                <form action="/templates/{{template.id}}?_method=DELETE" method="POST" id="delete-form">
                    <button type="submit" class="btn red">
                        <i class="fa fa-remove"></i> Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{user.firstName}} {{user.lastName}}</span>
                <img src="{{user.image}}" class="circle responsive-img">
            </div>
            <div class="card-action">
                <a href="/templates/user/{{user.id}}">More from {{user.firstName}}</a>
            </div>
        </div>
    </div>
</div>